* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    line-height: 1.5rem;
}

h1 {
    text-align: center;
    padding: 15px;
    font-size: 3rem;
    color: #333;
}

h2 {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    color: #737373;
}

h3 {
    padding: 5px;
    font-size: 1.5rem;
    
}

h4 {
    font-size: 1.2rem;
    padding: 5px;
    color: #333;
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-rows: 3em 3em auto 50px;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        "header  header"
        "navbar  navbar "
        "main    sidebar"
        "footer  footer";
}

.header {
    grid-area: header;
    display: flex;
    background-color: #1f4489;
    align-items: center;
    justify-content: center;
}

.header>p {
    color: #fff200;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
}

.header .logo {
    width: 50px;
    height: 50px;
}

.navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f4489;
    position: sticky;
    top: 0;
}

.navbar>a {
    color: #fff200;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar>a:hover {
    background-color: #03225a;
    transition: 0.5s;
}

.sidebar {
    grid-area: sidebar;
    background-color: #4481f3;
}

.main {
    grid-area: main;
    background-color: white;
}

.titulo-sidebar>h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff200;
    padding: 10px;
}

.side-flex,
.main-flex {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.footer {
    grid-area: footer;
    padding: 15px;
    color: #fff200;
    display: flex;
    justify-content: space-between;
    background-color: #1f4489;
    align-items: center;
}

.footer>a {
    color: #fff200;
}

.pelicula {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightsteelblue;
}

.pelicula .descripcion {
    padding-left: 15px;
}

.pelicula .img-galeria {
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    height: 100%;
}

.pelicula>p {
    color: #444;
}

iframe {
    border: none;
    border-radius: 5px;
    width: 350px;
    height: 200px;
}

@media screen and (max-width:992px) {
    .grid-container {
        grid-template-rows: 50px 3rem auto 100px;
        grid-template-columns: 3fr 2fr;
        grid-template-areas:
            "header     header"
            "navbar     navbar"
            "main       sidebar"
            "footer     footer";
    }
}

@media screen and (max-width:576px) {
    .grid-container {
        grid-template-rows: 50px 150px auto 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header     header"
            "navbar     navbar"
            "main       sidebar"
            "footer     footer";
    }

    .grid-container .navbar {
        flex-direction: column;
        justify-content: center;

    }
}