* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
    min-height: 100vh;
    line-height: 1.5rem;
}

.container {
    display: grid;
    gap: 3px;
    grid-template-rows: 4rem auto 200px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "header  header   header"
        "navbar   main    sidebar"
        "footer   footer  footer";

    @media (max-width:992px) {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header     header"
            "navbar     navbar"  
            "sidebar    main"  
            "sidebar    main"
            "footer     footer";
    }

    @media (max-width:576px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "navbar"
            "sidebar"
            "main"
            "footer";
    }
}

.container .header {
    grid-area: header;
    background-color: grey;
}

.container .navbar {
    grid-area: navbar;
    background-color: aqua;
}

.container .sidebar {
    grid-area: sidebar;
    background-color: blue;
}

.container .main {
    grid-area: main;
    background-color: coral;
}

.container .footer {
    grid-area: footer;
    background-color: indigo;
}