* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    line-height: 1.5rem;
    background-color: lightsteelblue;
}

.grid-container {
    display: grid;
    grid-template-rows: 5rem 3rem auto 50px;
    grid-template-areas:
        "header  "
        "navbar   "
        "main    "
        "footer  ";
}

.header {
    grid-area: header;
    display: flex;
    background-color: #1f4489;
    align-items: center;
    justify-content: center;
}

.header p {
    color: #fff200;
    font-size: 5rem;
    display: flex;
    align-items: center;
}

.header .logo {
    width: 80px;
    height: 80px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f4489;
    position: sticky;
    top: 0;
}

.navbar a {
    color: #fff200;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 10px;
}

.navbar a:hover {
    background-color: #03225a;
    box-shadow: 1px 1px 2px 1px black;

    transition: 0.5s;
}

.main {
    background-color: white;
}

.main-flex {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.footer {
    padding: 15px;
    color: #fff200;
    display: flex;
    justify-content: space-between;
    background-color: #1f4489;
    align-items: center;
}

.footer a {
    color: #fff200;
}

main {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 15px;
}

.about-us h2 {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    color: #333;
}

.about-us p {
    color: #444;
    padding: 15px;
}

.about-us,
.gallery {
    width: 50%;
    /* box-sizing: border-box; */
    padding: 20px;
    text-align: justify;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container img {
    width: 500px;
    height: 300px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px black;
}

.integrantes {
    padding: 15px;
    align-items: left;
    background-color: #4481f3;
    /* box-shadow: 3px 5px #1f4489; */
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px black;
}

.integrantes h3 {
    color: #fff200;
}

.lista {
    list-style: none;
    color: #333;
    ;
}